.root, body {
    height: 100%;
    width: 100%;
    background-color: #FFDF70;
    padding-top: 3%
}

.hiImg {
    width: 724px;
    height: 693px;
}

.btn {
    background-color: #fff;
    width: 266px;
    border-radius: 30px;
}

.btnText {
    font-size: 36px;
    font-weight: bold;
    margin-left: 60px;
}

.greeting {
    font-size: 60px;
    font-weight: bold;
    width: 521px;
}
@media only screen and (max-width: 900px) {
    .greeting {
        font-size: 36px;
        text-align: center;
        margin-left: 70px;
        padding: 0 14%;
        margin-top: -10%;
    }
    .btn {
        margin-left: 70px;
        margin-top: 40%;
    }
    .main {
        background-image: url("../../assets/img/light/Charco Hi.png");
        background-size:504px 482px ;
        background-repeat: no-repeat;
        background-position: bottom;
        background-position-x: 80px;
    }
}
