.root-preference {
    height: 100%;
    width: 100%;
    padding: 7%;
}

.hiImg-preference {
    width: 724px;
    height: 693px;
}

.input {
    width: 307px;
    padding: 10px 14px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 56px;
}

.btn-preference {
    background-color: #fff;
    width: 266px;
    border-radius: 30px;
}

.btnText-preference {
    font-size: 36px;
    font-weight: bold;
    margin-left: 80px;
}

.greeting-preference {
    font-size: 60px;
    font-weight: bold;
    width: 521px;
}
input:checked ~ .dot {
    transform: translateY(100%);
    background-color: #48bb78;
}

@media only screen and (max-width: 900px) {
    .greeting-preference {
        font-size: 36px;
        text-align: center;
        padding: 0 14%;
        margin-top: 5%;
    }
    .main-preference {
        background-image: url("../../assets/img/light/Charco Security.png");
        background-size:70% 313px ;
        background-repeat: no-repeat;
        background-position-y: 334px;
        background-position-x: 80px;
    }
    .auth-form-preference {
        margin-bottom: 200px;
    }
    .btn-preference {
        margin-bottom: 50px;
    }
}
