.root-avatar {
    height: auto;
    width: 100%;
    padding: 6.6%;
}

.hiImg-avatar {
    width: 724px;
    height: 693px;
}

.input {
    width: 307px;
    padding: 10px 14px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 56px;
}

.btn-avatar {
    background-color: #fff;
    width: 266px;
    border-radius: 30px;
}

.btnText-avatar {
    font-size: 36px;
    font-weight: bold;
    margin-left: 80px;
}

.greeting-avatar {
    font-size: 60px;
    font-weight: bold;
    width: 521px;
}
input:checked ~ .dot {
    transform: translateY(100%);
    background-color: #48bb78;
}

@media only screen and (max-width: 900px) {

    .root-avatar {
        position: fixed;
    }
    .greeting-avatar {
        font-size: 36px;
        text-align: center;
        padding: 0 14%;
        margin-top: 5%;
    }
    .main-avatar {
        background-image: url("../../assets/img/light/Charco Message Notification.png");
        background-size:70% 40%;
        background-repeat: no-repeat;
        background-position-y: 380px;
        background-position-x: 82px;
    }
    .auth-form-avatar {
        margin-bottom: 200px;
    }
    .btn-avatar {
        margin-bottom: 50px;
        margin-left: -160px;
    }
}
