.root-email {
    height: 100%;
    width: 100%;
    padding: 6.64%;
}

.hiImg-email {
    width: 724px;
    height: 693px;
}

.input {
    width: 307px;
    padding: 10px 14px;
    margin: 10px 0;
    border: 2px solid black;
    border-radius: 56px;
}

.btn-email {
    background-color: #fff;
    width: 266px;
    border-radius: 30px;
}

.btnText-email {
    font-size: 36px;
    font-weight: bold;
}

.greeting-email {
    font-size: 60px;
    font-weight: bold;
    width: 521px;
}
@media only screen and (max-width: 900px) {
    .greeting-email {
        font-size: 36px;
        text-align: center;
        padding: 0 14%;
        margin-top: 5%;
    }
    .main-email {
        background-image: url("../../assets/img/light/Charco Security.png");
        background-size:70% 313px ;
        background-repeat: no-repeat;
        background-position-y: 334px;
        background-position-x: 80px;
    }
    .auth-form-email {
        margin-bottom: 200px;
    }
    .btn-email {
        margin-bottom: 50px;
    }
}
